<!DOCTYPE html>
<html>
  <head>
    <title>IST 411 Group 2</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>

  <header>
      <!--Navbar-->
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <!-- Brand/logo -->
          <a class="navbar-brand" href="#">IST 411 Group 2</a>
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
          </ul>
      </nav>
  </header>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="page-header">
                <h1> Survey Comments </h1> <br>
              </div> 
               <div class="comments-list">
                   <div class="comments">
                        <div class="comment-body">
                            
                          <h4 class="user_name">Commenters username</h4>
                          "users comment."
                          
                        </div>
                        <br>
                    </div>
               </div>
               <div class="comments-list">
                <div class="comments">
                     <div class="comment-body">
                         
                       <h4 class="user_name">Commenters username</h4>
                       "users comment."
                       
                     </div>
                     <br>
                 </div>
            </div>
            <div class="comments-list">
                <div class="comments">
                     <div class="comment-body">
                         
                       <h4 class="user_name">Commenters username</h4>
                       "users comment."
                       
                     </div>
                     <br>
                 </div>
            </div>
                
            </div>
        </div>
    </div>
    
    </body>

  
</html>