<!DOCTYPE html>
<html>
  <head>
    <title>IST 411 Group 2</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">IST 411 Group 2</a>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </nav>
</header>
  
<body>
    <div class="container">
        <div class="centered text-center"></br>
        <form action = loginIU.html class = "form-inline" align = "center">

        <div class="col-sm-6">
            <h2>Researchers </h2>
                <div class="btn-group-vertical">
                    <button type = "signUp" formaction = "#" class ="btn reseracher-signup">Sign Up</button>
                    <button type = "login" formaction="loginUI.html" class ="btn reseracher-login">Login</button>
                </div>
        </div>

        <div class="col-sm-6">
        <h2>Participants </h2>
            <div class="btn-group-vertical">
                <button type = "signUp" formaction = "#" class ="btn participant-signup">Sign Up</button> 
                <button type = "login" formaction="loginUI.html" class ="btn participant-login">Login</button>
            </div>
        </div> 
        </form>
        </div>
    </div>
</html>